

.inputField {
  background-color: white;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.fun-fact {
  white-space: nowrap;
  animation: scroll 20s linear infinite;
}
.fun-fact:hover {
  animation-play-state: paused;
}

